{{!-- greeting.hbs --}}

<div class="container-fluid bg-danger bg-gradient">
    <div id="timeout" class="d-flex flex-column justify-content-center fs-1 text-light text-center vh-100">
        <p>Algo salio mal:</p>
        <p>{{ message_status }}</p>
    </div>
</div>