{{!-- logout.hbs --}}
<div class="container bg-info bg-gradient mb-3 my-4 py-4 bg-">
    <div class="d-flex justify-content-around align-items-center">
        <span id="logout" class="fs-1 text-light"> Hasta luego {{ username }}</span>
    </div>
</div>



