{{!-- registration_form.hbs --}}

<div class="container bg-light mb-3">
    <h3 class="fs-2 text-primary my-4 py-4"> Registración de usuarios</h3>

    <form action="/api/registration" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Ingrese su nombre</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Ingrese contraseña</label>
            <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Ingrese su email</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        </div>
        <button id="btnFormLogin_submit" type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>