{{!-- logout.hbs --}}

<div class="container-fluid bg-success bg-gradient">
    <div id="timeout" class="d-flex flex-column justify-content-center fs-1 text-light text-center vh-100">
        <p>Hasta luego</p>
        <p>{{ username }}</p>
    </div>
</div>



