<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Carga de producto</title>
</head>

<body>

    <div class="container mb-5">
        <h3 class="fs-2 text-primary my-4 py-4"> Ingrese Producto</h3>

        <div class="d-grid gap-2 col-6 mx-auto my-4 py-4">
            <a class="btn btn-outline-success btn-lg" href="/productos" role="button">Ver productos</a>
        </div>

        <form action="/productos" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input type="number" class="form-control" name="price" id="price" step=".01">
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="form-label">Foto URL</label>
                <input type="thumbnail" class="form-control" name="thumbnail" id="thumbnail">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>