{{!-- greeting.hbs --}}

<div class="container mb-3 my-4 py-4 bg-">
    <h3 class="fs-2 text-success my-2 py-2">Datos del usuario: </h3>
    <table class="table table-success table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ username }}</td>
                <td>{{ email }}</td>
                <td>{{ password }}</td>
            </tr>
        </tbody>
    </table>
</div>